.bottom-banner {
    background: rgba($white-color, .3) url("../../img/main-background.jpg");
    background-blend-mode: screen;
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
}