.content {
    &__book {
        background: url("../../img/full-book.png") no-repeat center;
        padding: 10% 0 10% 0;
        background-size: 100% 100%;
        text-align: center;
        color: $menu-color;
        margin-bottom: 40px;
        h2 {
            display: inline-block;
            font-size: 4rem;
            margin-top: 0;
            border-bottom: 2px solid $menu-color;
        }
        p {
            font-size: 1.5rem;
            text-align: justify;
            padding: 0 15% 0 10%;
        }
    }
}
@media (max-width: 1199px) {
    .content__book h2 {
        font-size: 3rem;
    }
    .content__book p {
        font-size: 1.3rem;
    }
}
@media (max-width: 991px) {
    .content__book h2 {
        font-size: 2.5rem;
    }
    .content__book p {
        font-size: 1rem;
    }
}