.header {
    padding: 20px 0 20px 0;
    color: $menu-color;
    text-shadow: 2px 2px 3px rgba($menu-color, .4);
    &__logo {
        justify-content: center;
        display: flex;
        &-image {
            background: url("../../img/logo.png") no-repeat center;
            min-width: 64px;
            height: 64px;
            border: 1px solid $black-color;
            padding: 3px;
        }
        &-phrase {
            line-height: 1.5em;
            padding-left: 3px;
            align-self: center;
        }
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        li {
            font-size: 2rem;
            &:nth-child(2n+1) {
                border: 2px solid $menu-color;
                box-shadow: 2px 2px 3px rgba($menu-color, .4);
            }
            a {
                transition: border-bottom .1s;
                &:hover {
                    border-bottom: 3px solid $menu-color;
                }
            }
        }
    }
    &__login {
        display: flex;
        justify-content: space-around;
        &-image {
            background: url("../../img/login.png") no-repeat center;
            background-size: cover;
            min-width: 32px;
            height: 32px;
            border: 1px solid $black-color;
            &:hover + div > span {
                border-bottom: 3px solid $menu-color;
            }
        }
        &-text {
            font-size: 2rem;
            align-self: center;
            span {
                transition: border-bottom .1s;
                &:hover {
                    border-bottom: 3px solid $menu-color;
                }
            }
        }
    }
    .col-center {
        align-self: center;
    }
}
@media (max-width: 767px) {
    .header__logo-image {
        min-width: 48px;
        height: 48px;
        background-size: cover;
    }
    .header__login-image {
        min-width: 24px;
        height: 24px;
        background-size: cover;
    }
}