.header {
    padding-top: 20px;
    color: $menu-color;
    text-shadow: 2px 2px 3px rgba($menu-color, .4);
    &__logo {
        display: flex;
    }
    &__logo__image {
        background: url("../../img/logo.png") no-repeat center;
        min-width: 64px;
        height: 64px;
        border: 1px solid $black-color;
        padding: 3px;
    }
    &__text {
        padding-left: 2px;
        line-height: 1.5em;
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        padding-top: 16px;
        li {
            font-size: 2rem;
            &:nth-child(2n+1) {
                border: 1px solid $black-color;
                box-shadow: 2px 2px 3px rgba($menu-color, .4);
            }
            a {
                transition: border-bottom .1s;
                &:hover {
                    border-bottom: 3px solid $menu-color;
                }
            }
        }
    }
    &__login {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__login__image {
        background: url("../../img/login.png") no-repeat center;
        background-size: cover;
        min-width: 32px;
        height: 32px;
        border: 1px solid $black-color;
    }
    &__login__text {
        font-size: 2rem;
        a {
            transition: border-bottom .1s;
            &:hover {
                border-bottom: 3px solid $menu-color;
            }
        }
    }
}