html {
    overflow-x: hidden;
}
body {
    font-family: 'Righteous', cursive;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    box-sizing: border-box;
    color: $black-color;
    background-color: $white-color;
}
.main-container {
    max-width: 1366px;
    margin: 0 auto;
}
ul, ol {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
    cursor: default;
}
a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: $black-color;
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
    &:visited {
        color: inherit;
    }
}
p {
    margin: 0;
}
@media (max-width: 991px) {
    html, body {
        font-size: .7rem;
    }
}
@media (max-width: 767px) {
    html, body {
        font-size: .6rem;
    }
}
@media (max-width: 575px) {
    html, body {
        font-size: .5rem;
    }
}