html {
    overflow-x: hidden;
}
body {
    font-family: 'Righteous', cursive;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    box-sizing: border-box;
    color: $black-color;
    background-color: $white-color;
}
.main-container {
    min-width: 1024px;
    margin: 0 auto;
}
ul, ol {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
    cursor: default;
}
a {
    text-decoration: none;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
    &:visited {
        color: inherit;
    }
}

# Media

